workflows/whatsapp-ai-bot.json
{
  "name": "AI Agent WhatsApp Bot",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Process incoming WhatsApp message\nconst message = items[0].json.message;\nconst sender = items[0].json.sender;\n\nreturn [\n  {\n    json: {\n      sender,\n      message,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "name": "Process Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://mcp-server:3000/agents/execute",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "agentType",
              "value": "conversational"
            },
            {
              "name": "task",
              "value": "={{ $json.message }}"
            },
            {
              "name": "context",
              "value": "={{ { sender: $json.sender } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Call AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://mcp-server:3000/mcp/tools/execute",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "send_whatsapp_message"
            },
            {
              "name": "parameters",
              "value": "={{ { recipient: $node['Process Message'].json.sender, message: $json.output.content } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Call AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "1"
}
